<div class="container pt-3">
  <div class="row mx-auto">
    <div class="col-9 text-center">
      <div class="mx-auto">
      <%= image_tag @customer.get_profile_image(100,100) %>


      <span class="col-6 border rounded-pill">
        <%= @customer.introduction %>
      </span>

      </div>
      <div>
      <label class="col-3">ユーザ名</label>
      <%= @customer.name %></br>
      </div>
      <div>
      <label class="col-3">メールアドレス</label>
      <%= @customer.email%></br>
      </div>
      <div>
      <label class="col-3">ステータス</label>
          <% if @customer.is_deleted == false %><span class="text-success font-weight-bold">有効</span>
          <% else %><span class="text-secondary font-weight-bold">退会</span>
          <% end %></br>
      </div>
      <div class="col-2 mx-auto">
        <span class="mx-auto">
         <% if @customer == current_customer %>
           <% if @customer.email != 'guest@example.com' %>
           <%= link_to edit_customer_path(@customer.id) do %>編集<% end %>
           <% end %>
         <% end %>
        <span>
      </div>
      <% if @customer.email == 'guest@example.com' %>
      ※ゲストユーザーは変更出来ません。
      <% end %>
    </div>
    <% if @customer.email != 'guest@example.com' %>
    <div class="col-3">
      <%= link_to customer_posts_path(@customer.id) do %>・投稿一覧<% end %></br>
      <% if @cutomer == current_customer %>
      <%= link_to customer_draft_path(@customer.id) do %>・下書き一覧<% end %></br>
      <% end %>
      <%= link_to customer_comments_path(@customer.id) do %>・コメント一覧<% end %></br>
      <%= link_to customer_favorites_path(@customer.id) do %>・いいね一覧<% end %></br>
    </div>
    <% end %>
  </div>
</div>