<div class="container pt-3">
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table">
        <thead >
          <tr>
            <th class="text-center">投稿一覧</th>
          </tr>
        </thead>
        </table>
        <table class="table">
        <% @posts.each do |post| %>
        <tbody>
          <td class="col-3"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td class="col-6"><%= link_to admin_post_path(post) do %><%= post.body %><% end %></td>
          <td class="col-3"><%= post.customer.name %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="col-1 mx-auto">
<%= paginate @posts %>
</div>