<div class="container pt-3">
  <div class="row">
    <div class="col-10 mx-auto text-center">
        <h5>投稿詳細</h5>
        <div class="col-5 mx-auto text-center border border-dark mb-3">
        <%= @post.body %></br>
          <% @post.tags.each do |tag| %>
           <span>#<%= tag.tag_name %></span>
          <% end %></br>

        <p class="border-top">name: <%= link_to admin_customer_path(@post.customer.id) do %><%= @post.customer.name %><% end %></p>
         <p><%= link_to admin_post_comments_path(@post) do %>コメント(<%= @post.comments.count %>)<% end %>,いいね(<%= @post.favorites.count %>)</p>
         </div>
         <%= link_to '削除する', admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
    </div>
  </div>
</div>