<div class="container pt-3">

<h6 class="ml-5 mb-3">ログイン</h6>
<div class="row text-center">
<div class="col-10">
  <p class="notice"><%= notice %></p>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <label class="col-md-3"><%= f.label "メールアドレス" %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label class="col-md-3"><%= f.label "パスワード" %></label>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <label class="col-md-3"></label>
      <%= f.check_box :remember_me %>
      <%= f.label "記憶する" %>
    </div>
  <% end %>

  <div class="col-10 mx-auto">
  <%= f.submit "ログイン", class:"btn btn-success mr-5" %><%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post, class:"btn btn-success mr-5" %>
  </div>
<% end %>
</div>
</div>

<h6 class="ml-5 mb-3 mt-5">まだ会員でない方</h6>
<div class="row">
<div class="col-3 mx-auto">
<%= render "public/shared/links" %>ページへ
</div>
</div>
</div>